* {
    margin:  0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(22,32,42);
}

div.layout {
    display:        flex;
    flex-direction: column;
    min-height:     100vh;
}

div.header {
    background-color: rgb(38,48,58);
}

div.main {
    flex:    1;
    display: flex;
}

div.content {
    flex-grow:  1;
    flex-basis: 0;
    margin:     5px;

    border: 1px rgb(54,64,74) solid;
}

div.inline {
    display:     flex;
    align-items: center;
}

div.card-listing {
    display:   flex;
    flex-wrap: wrap;
}

div.card {
    width: 20%;
}

p {
    padding: 3px;

    font:  8pt Sans, Verdana;
    color: rgb(224,224,224);
}

p.header {
    text-align:  center;
    background:  linear-gradient(rgb(22,32,42), rgb(54,64,74));
    font-weight: bold;
}

p.small {
    font-size: 7pt;
}

p.card-name {
    font-size: 6pt;
}

img {
    width:  100%;
    height: auto;
}

input {
    margin:  5px;
    padding: 2px;

    background-color: black;
    border: 1px rgb(54,64,74) solid;

    font:  8pt Sans, Verdana;
    color: rgb(224,224,224);
}
